body {
    margin: 0 auto;
    max-width: 66ch;
    overflow-x: hidden;
    padding: 1em;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid lightgrey;
    }

    td {
        padding: 0.5rem;
    }
}

article
{
    img {
        display:block;
        border:0.25em solid;
        box-shadow:0em 0.5em 0.5em rgba(0.0, 0.0, 0.0, 0.6);
        margin:1.5em auto;
    }
}

.index {
    h3 {
        margin:0;
    }

    .index_excerpt {
        margin-left: 1em;
        margin-top: 1em;
    }

    .index_article { 
        margin:1em 0;
        padding-bottom:1.5em;

        small.date { float: right; }
    }

    .index_article:not(:last-child) {
        border-bottom:1px dotted gray;
    }
}

.sig_container
{
    margin:3em 0;
    text-align: center;

    img {
        outline:none;
        border:none;
        display:inline-block;
        width:96px;
        margin:auto;
    }
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }
    a {
        margin-right: 1rem;
    }
}

footer {
    margin: 4rem 0;
}

.message {
    border: 1px solid lightgrey;
    padding: 1rem;
}

.return-to-top, .return-to-top:hover {
    background: black;
    border-radius: 5px;
    bottom: 10px;
    color: #fff !important;
    display: none;
    font-size: 12px;
    padding: 10px 15px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    z-index: 5;

    span {
        &:nth-child(2) {
            padding-left: 5px;

            @media(max-width: 1000px) {
                display: none;
            }
        }
    }
}